/* ------------------------------ Default styles ---------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1000px;

  text-align: center;

  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-family: 'Ranchers', cursive;
  font-size: 12px;
}

/* ------------------------------- CARD style ------------------------------- */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 200px;
  margin: 15px;

  border-radius: 5%;
  box-shadow: 3px 18px 81px -20px rgba(51, 51, 51, 0.75);

  overflow: hidden;
  transition: 0.5s;
}

.semicircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 100px;
  margin-bottom: 10%;

  border-bottom: 100% solid #ffaf00;
  border-radius: 50%;
  transform: scale(1.5);
}

.header {
  margin-top: 10%;

  font-size: 50px;
  font-weight: bold;
}

.text {
  padding: 20px;
  color: #a9a9a9;
}

button {
  margin: 0 auto 5%;
  padding: 5px 10px;

  border: 2px solid transparent;
  border-radius: 99em;

  font-size: 12px;
}

/* ------------------------------- COLOR styles ----------------------------- */
.text-color {
  color: #ffffff;
}

.bg-while {
  background-color: #ffffff;
}

.bg-orange {
  background-color: #ffaf00;
}

.bg-raspberry {
  background-color: #da2288;
}

.bg-purple {
  background-color: #bb02ff;
}

/* ------------------------------ :hover effect ---------------------------- */
.card:hover {
  transform: scale(1.1);
}

.card:not(:hover)
{
  transform: scale(1);
}

.wrap:hover > .card:not(:hover) {
  filter: blur(4px);
  transform: scale(0.8);
}
